@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato", monospace;
  font-size: 62.5%;
}

.button, section div input {
  color: white;
  background-color: #000000;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.7;
  width: 100px;
  border-radius: 5px;
}

header {
  background-color: rgb(156, 92, 175);
}

.logo {
  color: rgb(255, 255, 255);
  /** Uso de Gradientes  **/
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(38, 0, 49)), to(rgb(136, 93, 165)));
  background-image: linear-gradient(to right, rgb(38, 0, 49), rgb(136, 93, 165));
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  /** aplico Animacion **/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: logoInicio;
          animation-name: logoInicio;
}
.logo a {
  color: white;
}

@-webkit-keyframes logoInicio {
  0% {
    opacity: 0;
    background-color: rgb(47, 0, 61);
    -webkit-transform: scale(2, 1);
            transform: scale(2, 1);
    font-size: 2rem;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoInicio {
  0% {
    opacity: 0;
    background-color: rgb(47, 0, 61);
    -webkit-transform: scale(2, 1);
            transform: scale(2, 1);
    font-size: 2rem;
  }
  100% {
    opacity: 1;
  }
}
/**aplico nesting**/
.nav {
  background-color: rgb(156, 92, 175);
  line-height: 2;
  list-style-type: none;
  gap: 25px;
  padding-right: 15px;
}
.nav li a {
  color: rgb(255, 254, 253);
  font-weight: bold;
  font-size: 2rem;
}

main {
  background-color: #d8d8d8;
  padding-bottom: 25px;
  overflow-x: hidden;
}

h1 {
  color: rgb(253, 253, 253);
  text-align: center;
  font-size: 8rem;
  font-family: "Ubuntu", sans-serif;
  /**aplico animacion**/
  -webkit-animation-name: heartBeat;
          animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: rgb(255, 254, 253);
  font-weight: bold;
  text-align: left;
}

p {
  line-height: 1.7;
  color: rgb(14, 9, 9);
  font-weight: normal;
  font-size: 2rem;
  font-family: "Lato", monospace;
  text-align: left;
}

h2, h4, h3 {
  font-style: italic;
  font-weight: bold;
  color: rgb(15, 9, 2);
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
}

/**aplico extend**/
h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

.posicionTitulos {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.fondoIndex {
  background-image: url("../Assets/Imgs/rosario37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.mapaUbicacion {
  /**aplico flexbox**/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.videosPosicion {
  /**aplico flexbox y mixins **/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fondoTop5 {
  background-image: url("../Assets/Imgs/rosario33.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.ubicacionTop5 {
  /**aplico grids**/
  width: 100%;
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "top1   top2  " "top3   top4  " "top5   .   ";
  gap: 10px;
  width: 100%;
}

.top1, .top5, .top4, .top3, .top2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top1 p, .top5 p, .top4 p, .top3 p, .top2 p {
  width: 500px;
}

.top2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top2;
}

.top3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: top3;
}

.top4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: top4;
}

.top5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: top5;
}

.fondoGaleria {
  background-image: url("../Assets/Imgs/rosario30.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.posicionImagenes {
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3, 1fr;
  grid-template-columns: 3, 1fr;
  -ms-grid-rows: 3, 1fr;
  grid-template-rows: 3, 1fr;
      grid-template-areas: "im1 im2 im3" "im4 im5 im6" "im7 im8 im9";
  row-gap: 25px;
}
.posicionImagenes img {
  border-radius: 15px;
}

.im1 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
}

.im2 img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
}

.im3 img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: im3;
}

.im4 img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: im4;
}

.im5 img {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: im5;
}

.im6 img {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: im6;
}

.im7 img {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: im7;
}

.im8 img {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: im8;
}

.im9 img {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: im9;
}

.fondoMasInfo {
  background-image: url("../Assets/Imgs/im1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.posicionEntradas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding-left: 25px;
  gap: 50px;
}
.posicionEntradas h4 {
  text-align: left;
}

.enlaceTransporte {
  padding-left: 25px;
}

.omnibus ul li {
  list-style-type: none;
}

.trenes ul li {
  list-style-type: none;
}

.rutas ul li {
  list-style-type: none;
}

/**aplico nesting**/
.enlaceTransporte a {
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
  font-style: italic;
}
.enlaceTransporte ul li {
  font-size: 2rem;
}

.posicionHoteles {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
.posicionHoteles article img {
  padding-right: 25px;
}
.posicionHoteles article div p {
  width: 375px;
}

.padding {
  padding-bottom: 10px;
}

.fondoContacto {
  background-image: url("../Assets/Imgs/rosario41.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.formulario {
  padding-left: 25px;
  border-radius: 5px;
}

.fondoForm {
  background-color: azure;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 400px;
  font-family: "Lato", monospace;
}

textarea {
  font-size: 1.5rem;
  border-radius: 5px;
  width: 600px;
  background-color: azure;
  font-family: "Lato", monospace;
}

.enlaceInfo a {
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

footer {
  width: 100%;
  background-color: rgb(82, 83, 150);
  /**aplico grids**/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 25% 35%;
  grid-template-columns: 40% 25% 35%;
  -ms-grid-rows: 2fr auto 1fr;
  grid-template-rows: 2fr auto 1fr;
      grid-template-areas: "copyright . ." ". seccionRedes ." ". . seccionFooterArriba";
}

.copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: copyright;
}

.seccionRedes {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: seccionRedes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.seccionFooterArriba {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: seccionFooterArriba;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: end;
      align-self: end;
  padding-right: 10px;
}
.seccionFooterArriba a {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

/*Seccion Responsive*/
/**Tablet seccion Index**/
@media (max-width: 768px) {
  .fondoIndex {
    background-image: url("../Assets/Imgs/rosario37.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  .videosPosicion {
    /**aplico flexbox y mixins**/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1,
h2,
h3,
h4,
p,
ul li {
    text-align: center;
  }
  /*Tablet top5*/
  /*Tablet galeria*/
  /**Tablet Mas Info**/
  /**Tablet Contacto**/
}
@media (max-width: 768px) and (max-width: 768px) {
  .fondoTop5 {
    background-image: url("../Assets/Imgs/rosario33.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  .logo {
    text-align: center;
  }
  .ubicacionTop5 {
    /**aplico grid**/
    /**Para tablet la disposicion
    va a ser practicamente igual a desktop**/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px 1fr 10px auto;
    grid-template-columns: auto 1fr auto;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(5, 1fr);
        grid-template-areas: ". top1 ." ". top2 ." ". top3 ." ". top4 ." ". top5 .";
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seccionFooterArriba div a {
    display: none;
  }
  .top1 p, .top2 p, .top3 p, .top4 p, .top5 p {
    text-align: center;
  }
  .top1 img, .top2 img, .top3 img, .top4 img, .top5 img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top2 p {
    text-align: left;
  }
  .top3 p {
    text-align: left;
  }
  .top4 p {
    text-align: left;
  }
  .top5 p {
    text-align: left;
  }
  .top1, .top5, .top4, .top3, .top2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .top2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .top3 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .top4 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .top5 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .fondoGaleria {
    background-image: url("../Assets/Imgs/rosario30.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  .posicionImagenes {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2, 1fr;
    grid-template-columns: 2, 1fr;
    -ms-grid-rows: 5, 1fr;
    grid-template-rows: 5, 1fr;
        grid-template-areas: "im1 im2" "im3 im4" "im5 im6" "im7 im8" "im9 .";
  }
  p {
    text-align: center;
  }
  .im1 img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .im2 img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .im3 img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .im4 img {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .im5 img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .im6 img {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .im7 img {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .im8 img {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .im9 img {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .fondoMasInfo {
    background-image: url("../Assets/Imgs/im1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .posicionEntradas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .posicionHoteles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-left: 25px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .fondoContacto {
    background-image: url("../Assets/Imgs/rosario41.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
}
@media (max-width: 576px) {
  footer {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
        grid-template-areas: "copyright ." ". seccionRedes";
    padding-bottom: 5px;
  }
  /**Mobile seccion Index**/
  .fondoIndex {
    background-image: url("../Assets/Imgs/rosario37.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  h1 {
    display: none;
  }
  .videosPosicion {
    /**aplico flexbox y mixins**/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: copyright;
  }
  .seccionRedes {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: seccionRedes;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  @media (max-width: 576px){
  .copyright {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  .seccionRedes {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
  }
  }
  .copyright {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .seccionRedes {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
/*Mobile Seccion top5*/
@media (max-width: 576px) {
  .fondoTop5 {
    background-image: url("../Assets/Imgs/rosario33.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  .fondoTop5 h1 {
    display: none;
  }
  .ubicacionTop5 {
    /** Para mobile aplico grid y aca si cambio la disposicion**/
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "top1" "top2" "top3" "top4" "top5";
    gap: 10px;
    width: 100%;
  }
  .ubicacionTop5 p {
    text-align: center;
    width: 100%;
  }
  .seccionFooterArriba div a {
    display: none;
  }
  p,
h3 {
    text-align: center;
  }
  .top1, .top2, .top3, .top4, .top5 {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .top2 {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .top3 {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .top4 {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .top5 {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  /*Mobile Seccion Galeria*/
  /**Mobile seccion Mas Info**/
  /**Mobile Contacto**/
  .top1, .top5, .top4, .top3, .top2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .top2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .top3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .top4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .top5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .fondoGaleria {
    background-image: url("../Assets/Imgs/rosario30.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  h1 {
    display: none;
  }
  .posicionImagenes {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
    grid-template-rows: repeat(9, 1fr);
        grid-template-areas: "im1" "im2" "im3" "im4" "im5" "im6" "im7" "im8" "im9";
    gap: 25px;
  }
  .im1 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im2 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im3 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im4 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im5 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im6 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im7 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im8 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im9 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .im1 img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .im2 img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .im3 img {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .im4 img {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .im5 img {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .im6 img {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .im7 img {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .im8 img {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .im9 img {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .fondoMasInfo {
    background-image: url("../Assets/Imgs/im1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  h1 {
    display: none;
  }
  .posicionEntradas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .trenes h3 {
    text-align: center;
  }
  .trenes p {
    text-align: center;
  }
  ul li a {
    text-align: center;
  }
  .omnibus div h3 p {
    text-align: center;
  }
  .posicion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rutas ul li {
    text-align: center;
  }
  .rutas h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  a {
    text-align: center;
  }
  .enlaceTransporte article .omnibus h3,
p,
div a {
    text-align: center;
  }
  .enlaceTransporte article .trenes .posicion li a {
    text-align: center;
  }
  div a {
    text-align: center;
  }
  .posicionHoteles article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-left: 25px;
  }
  .enlaceTransporte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .fondoContacto {
    background-image: url("../Assets/Imgs/rosario41.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  h1 {
    display: none;
  }
  .formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .formulario h4,
.formulario h3 {
    text-align: center;
  }
  .fondoForm, textarea {
    width: 400px;
  }
}