footer {
    background-color: rgb(82, 83, 150);
}

.copyright {
    p {
        text-align: left;
        font-size: 1.0 rem;
    }
}

.seccionRedes {
    /*aplico flexbox*/
    @include props-flex(row, center, center);
}

.seccionFooterArriba {
    text-align: right;

    a {
        font-size: 2.0rem;
        color: rgb(255, 255, 255);
        padding-right: 10px;
    }

}