.fondoMasInfo {
    background-image: url("../Assets/Imgs/im1.jpg");
    background-repeat: $background-repeat-general;
    background-size: $background-size-general;
    height: $variable-general;
}

.posicionEntradas {
    @include props-flex(column, center, flex-start);
    width: 100%;
    padding-left: 25px;
  gap: 50px;
  

    h4 {
        text-align: left;
    }
 }

section {
    div {
            input {
                @extend .button
            }
    }
}

.enlaceTransporte {
    padding-left: 25px;
}
.omnibus{
     
       ul{  
        li {
            list-style-type: none;
        }}
     
}
.trenes {
    ul {
       
        li {
            list-style-type: none;
        }
    }
}

.rutas {
    ul {
        li {
            list-style-type: none;
        }
    }
}

/**aplico nesting**/
.enlaceTransporte {
    a {
        font-size: 2.0rem;
        color: #000000;
        font-weight: bold;
        font-style: italic;
    }

    ul {
        li {
            font-size: 2.0rem;
        }
    }
}

.posicionHoteles {
    padding-left: 25px;
    @include props-flex(row, space-around, none);
    column-gap: 10px;
    row-gap: 10px;
    article{  
        img {
        padding-right: 25px;
    }
    div p{
        width: 375px;
    }

} 
}