.fondoIndex {
    background-image: url("../Assets/Imgs/rosario37.jpg");
    background-repeat: $background-repeat-general;
    background-size: $background-size-general;
    height: $variable-general;
    width: 100%;
}

.mapaUbicacion {
    /**aplico flexbox**/
    @include props-flex(row, center, center);
    width:100%;
 }

.videosPosicion {
    /**aplico flexbox y mixins **/
    @include props-flex(row, space-around, center); 
    width: 100%;
}
 