main {
    background-color: #d8d8d8;
    padding-bottom: 25px;
    overflow-x: hidden;
}

h1 {
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 8.0rem;
    font-family: 'Ubuntu', sans-serif;
    /**aplico animacion**/
    animation-name: heartBeat;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}



@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

a {
    text-decoration: none;
    color: rgb(255, 254, 253);
    font-weight: bold;
    text-align: left;
}

.textoFondo {
    font-weight: normal;
    color: black;
    text-align: left;
    padding-left: 25px;
    font-size: 2.0rem;

}

p {
    line-height: 1.7;
    color: rgb(14, 9, 9);
    font-weight: normal;
    font-size: 2.0rem;
    font-family: 'Lato', monospace;
    text-align: left;
}

h2 {
    font-style: italic;
    font-weight: bold;
    color: rgb(15, 9, 2);
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.0rem;
    
}
/**aplico extend**/
h3 {
     @extend h2;
    font-size: 3.0rem;
}

h4 {
    @extend h2;
    font-size: 2.5rem;
}

.posicionTitulos {
 text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
 }
 