.fondoMasInfo {
    background-image: url("../Assets/Imgs/im1.jpg");
    background-repeat: $background-repeat-general;
    background-size: $background-size-general;
    height: $variable-general;
}

.posicionEntradas {
    @include props-flex(column, center, flex-start);
    width: 100%;
    padding-left: 25px;

    div,
    h4 {
        text-align: left;

    }

}


section {
    div {
        h4 {
            input {
                @extend .button
            }
        }
    }
}

article div p {
    text-align: left;
}

.enlaceTransporte {
    padding-left: 25px;

    div,
    h3,
    a {
        text-align: left;
    }
}




.trenes {
    h3 {
        text-align: left;
    }

    ul {
        p {
            text-align: left;
        }

        li {
            list-style-type: none;
            text-align: left;

            a {
                list-style-type: none;
                text-align: left;

            }

        }
    }
}

.rutas {
    h3 {
        text-align: left;
    }

    ul {
        li {
            list-style-type: none;
            text-align: left;

        }
    }
}

/**aplico nesting**/
.enlaceTransporte {
    a {
        font-size: 2.0rem;
        color: #000000;
        font-weight: bold;
        font-style: italic;
    }

    ul {
        li {
            font-size: 2.0rem;
        }
    }
}


.posicionHoteles {
    padding-left: 25px;
    @include props-flex(row, space-around, center);

    article img {
        padding-right: 25px;
        text-align: center;
    }

    p {
        text-align: left;

    }
}